<settings>
  <server>
    <serverInfo>
      <user>sshuser</user>
      <host>localhost</host>
      <password>PsJ3yyhThKZrxP5uPo5BUQ==</password>
      <port>22</port>
    </serverInfo>
    <tunnelInfo>
      <port>22</port>
    </tunnelInfo>
    <profileName>local/sshuser@localhost</profileName>
    <color>0</color>
  </server>
  <server>
    <serverInfo>
      <user>hutchuk</user>
      <host>127.0.0.1</host>
      <password>eQYVHOiebz4XRS1EtD5N5g==</password>
      <port>22</port>
    </serverInfo>
    <tunnelInfo>
      <port>22</port>
    </tunnelInfo>
    <profileName>local/hutchuk@127.0.0.1</profileName>
    <color>0</color>
  </server>
</settings>